{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "eslint-config-prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],  
    "@typescript-eslint/no-var-requires": "error",
    "semi": "warn",
    //"react/function-component-definition":[2, {"namedcomponents":"arrow-function"}],
    "react/jsx-filename-extension": [0, { "extensions": ["js", "jsx"] }],
    "arrow-parens": ["warn", "as-needed"],
    "no-console": "warn",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "no-underscore-dangle": "warn",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "warn",
    //"react/hook-use-state": "error",
    "@typescript-eslint/no-empty-interface": "warn",
    "react/react-in-jsx-scope": "off",    
    // "react/jsx-boolean-value": [
    //   "error",
    //   "never"
    // ], 
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx", ".js"]
    },
    "import/resolver": {
      "typescript": "./tsconfig.json"
    }
  }
}